{
  "openapi": "3.1.0",
  "info": {
    "title": "Boomer Off — Public API",
    "version": "1.10.0",
    "description": "本文档覆盖：\n\n- `/api/public/handheld/*`：ERP 手持终端接口。\n- `/api/public/storefront/*`：自营商城商品、分类和订单接口。\n\n## 手持终端鉴权\n手持终端业务请求带：\n\n```\nX-Device-Token: <设备 token>\nX-Session-Token: <操作员 session token>\n```\n\n## 商城鉴权\n\n- 商品和分类接口公开读取。\n- 订单接口使用 `Authorization: Bearer <腾讯云消费者 JWT>`。\n- 消费者 JWT 由独立身份服务签发，ERP 通过 JWKS 验签，不复用 ERP 员工账号。\n- 创建订单和支付还必须带 `Idempotency-Key`。\n\n## 统一响应\n\n```json\n{ \"ok\": true, \"data\": { ... } }\n{ \"ok\": false, \"error\": \"...\", \"...\": \"...\" }\n```\n\n## 字段同步约定\n\n服务端的 Zod schema 是唯一真源（`src/lib/handheld/schemas.ts`）。\n本文档 + APP 端 SDK 都从它生成。改字段流程：\n\n1. 改 `schemas.ts`\n2. 运行 `bun run sdk:gen` 生成新的 `openapi.snapshot.json` 和 TS 类型\n3. APP 端拉取 `/api/public/handheld/openapi.json` 重新生成本地 SDK"
  },
  "servers": [
    {
      "url": "https://boomer-off-buddy.lovable.app",
      "description": "Production"
    },
    {
      "url": "https://project--2158bffa-7f82-4bc6-9df9-c59319d262f7-dev.lovable.app",
      "description": "Preview"
    }
  ],
  "security": [
    {
      "DeviceToken": [],
      "SessionToken": []
    }
  ],
  "tags": [
    {
      "name": "鉴权",
      "description": "设备心跳与登录信息"
    },
    {
      "name": "账号",
      "description": "操作员登录、可见库位、当前库位切换（v1.1+）"
    },
    {
      "name": "SKU",
      "description": "SKU 查询"
    },
    {
      "name": "AI",
      "description": "拍照识别商品 + 出上架主图（v1.1+）"
    },
    {
      "name": "图片",
      "description": "签名上传图片到 Storage（v1.1+）"
    },
    {
      "name": "商品",
      "description": "智能上架 + 有赞同步状态（v1.1+）"
    },
    {
      "name": "入库",
      "description": "扫码自动入库（仅 warehouse 设备）"
    },
    {
      "name": "盘点",
      "description": "门店 / 仓库盘点流程"
    },
    {
      "name": "调拨",
      "description": "库位间调拨：发出方扫描 → 发出方确认 → 收货方扫描 → 收货方确认"
    },
    {
      "name": "RFID",
      "description": "EPC 单点操作（v1.1+）"
    },
    {
      "name": "通知",
      "description": "APP 主动轮询的事件（v1.2+）"
    },
    {
      "name": "诊断",
      "description": "APP 上报 crash / 网络错误 / 设备状态（v1.2+）"
    },
    {
      "name": "日本小包",
      "description": "只读；仅 super_admin 可用（v1.6+）"
    },
    {
      "name": "商城商品",
      "description": "消费者商城公开商品与统一分类"
    },
    {
      "name": "商城订单",
      "description": "消费者商城订单；需要 Bearer 用户会话"
    },
    {
      "name": "商城支付",
      "description": "消费者支付发起与支付网关签名回调"
    },
    {
      "name": "收银支付",
      "description": "POS 微信/支付宝主扫与客扫收款（v1.8+）"
    }
  ],
  "paths": {
    "/api/public/storefront/products": {
      "get": {
        "tags": [
          "商城商品"
        ],
        "summary": "商城商品列表",
        "description": "只返回已发布且当前门店库存大于 0 的商品。分类、品牌、facet 与 ERP 主数据共用同一套编码。",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "primary_category",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "description": "primary_category 的兼容别名",
              "type": "string"
            },
            "description": "primary_category 的兼容别名"
          },
          {
            "in": "query",
            "name": "brand_ids",
            "schema": {
              "description": "可重复传参，也支持逗号分隔",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "可重复传参，也支持逗号分隔"
          },
          {
            "in": "query",
            "name": "facet_codes",
            "schema": {
              "description": "同维度内 OR、不同维度间 AND；可重复传参，也支持逗号分隔",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "同维度内 OR、不同维度间 AND；可重复传参，也支持逗号分隔"
          },
          {
            "in": "query",
            "name": "location_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "price_asc",
                "price_desc",
                "relevance"
              ]
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/storefront/products/{id}": {
      "get": {
        "tags": [
          "商城商品"
        ],
        "summary": "商城商品详情",
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/StorefrontProduct"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/storefront/taxonomy": {
      "get": {
        "tags": [
          "商城商品"
        ],
        "summary": "商城分类、品牌与筛选维度",
        "description": "返回 ERP 当前启用的主分类/叶子分类、品牌和 facet；传 primary_category 时按适用范围过滤。",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "primary_category",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontTaxonomyResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/storefront/orders": {
      "get": {
        "tags": [
          "商城订单"
        ],
        "summary": "当前用户订单列表",
        "security": [
          {
            "StorefrontBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StorefrontOrderSummary"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "商城订单"
        ],
        "summary": "创建商城订单并锁定库存",
        "security": [
          {
            "StorefrontBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "同一次下单重试必须复用相同值。"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorefrontCreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/storefront/orders/{id}": {
      "get": {
        "tags": [
          "商城订单"
        ],
        "summary": "当前用户订单详情",
        "security": [
          {
            "StorefrontBearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontOrderDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/storefront/payments": {
      "post": {
        "tags": [
          "商城支付"
        ],
        "summary": "为商城订单创建支付",
        "description": "通过服务端支付网关适配器创建微信或支付宝支付。APP 只消费 payment_payload，不持有商户密钥。",
        "security": [
          {
            "StorefrontBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "同一次支付发起重试必须复用相同值。"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "wechat",
                      "alipay"
                    ]
                  },
                  "client_context": {
                    "default": {
                      "platform": "app"
                    },
                    "type": "object",
                    "properties": {
                      "platform": {
                        "type": "string",
                        "enum": [
                          "app",
                          "miniapp",
                          "web"
                        ]
                      },
                      "openid": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "return_url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "platform"
                    ]
                  }
                },
                "required": [
                  "order_id",
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "order_id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "provider": {
                              "type": "string",
                              "enum": [
                                "wechat",
                                "alipay"
                              ]
                            },
                            "status": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "number"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "provider_transaction_id": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "order_id",
                            "provider",
                            "status",
                            "amount",
                            "currency",
                            "provider_transaction_id",
                            "created_at"
                          ],
                          "additionalProperties": false
                        },
                        "payment_payload": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "expires_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "payment",
                        "payment_payload",
                        "expires_at"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "支付网关响应失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "支付网关尚未配置",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/storefront/payments/callback/{provider}": {
      "post": {
        "tags": [
          "商城支付"
        ],
        "summary": "支付网关签名回调",
        "description": "支付网关调用。服务端校验原始请求体的 HMAC-SHA256 签名、金额及事件幂等后完成订单。",
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "schema": {
              "type": "string",
              "enum": [
                "wechat",
                "alipay"
              ]
            },
            "required": true
          },
          {
            "name": "X-Payment-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "原始 JSON 请求体的 HMAC-SHA256 十六进制签名。"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "event_type": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "transaction_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "merchant_order_no": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "succeeded",
                      "failed",
                      "cancelled"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "paid_at": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "failure_code": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "failure_message": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "event_id",
                  "event_type",
                  "transaction_id",
                  "merchant_order_no",
                  "status",
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "replayed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "商城用户未登录或会话失效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "商品或订单不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "库存冲突或商品不可售",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "业务规则校验失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "支付回调密钥尚未配置",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/auth/ping": {
      "post": {
        "tags": [
          "鉴权"
        ],
        "summary": "设备心跳 / 登录信息",
        "description": "APP 启动时调用一次。返回当前设备绑定的库位信息，决定界面是「仓库模式」还是「门店模式」。",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeviceContext"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "鉴权"
        ],
        "summary": "设备心跳 / 登录信息（GET 别名）",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeviceContext"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/sku/by-epc": {
      "get": {
        "tags": [
          "SKU"
        ],
        "summary": "按 EPC 查询 SKU",
        "description": "已知 EPC 返回 SKU + 当前库位；未知 EPC 返回是否在待认领队列。",
        "parameters": [
          {
            "in": "query",
            "name": "epc",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "RFID EPC 编码",
              "example": "E2000017220C00000000A1B2"
            },
            "required": true,
            "description": "RFID EPC 编码"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "known": {
                              "type": "boolean",
                              "const": true
                            },
                            "epc": {
                              "type": "string",
                              "minLength": 1,
                              "description": "RFID EPC 编码",
                              "example": "E2000017220C00000000A1B2"
                            },
                            "status": {
                              "type": "string",
                              "example": "in_stock"
                            },
                            "sku_id": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                  "example": "550e8400-e29b-41d4-a716-446655440000"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "current_location_id": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                  "example": "550e8400-e29b-41d4-a716-446655440000"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sku": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/SkuSummary"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                      "example": "550e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "kind": {
                                      "type": "string",
                                      "enum": [
                                        "warehouse",
                                        "shop"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "kind"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "known",
                            "epc",
                            "status",
                            "sku_id",
                            "current_location_id",
                            "sku",
                            "location"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "known": {
                              "type": "boolean",
                              "const": false
                            },
                            "unclaimed": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "epc": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "RFID EPC 编码",
                                      "example": "E2000017220C00000000A1B2"
                                    },
                                    "hits": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "last_seen_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                    }
                                  },
                                  "required": [
                                    "epc",
                                    "hits",
                                    "last_seen_at"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "known",
                            "unclaimed"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/sku/search": {
      "get": {
        "tags": [
          "SKU"
        ],
        "summary": "搜索 SKU",
        "description": "按 sku_code / name 模糊匹配，最多返回 20 条；返回 image_url / image_paths / images，APP 可直接展示主图。",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "description": "关键字，匹配 sku_code / name",
              "type": "string"
            },
            "description": "关键字，匹配 sku_code / name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SkuSummary"
                          }
                        }
                      },
                      "required": [
                        "items"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/products": {
      "get": {
        "tags": [
          "商品"
        ],
        "summary": "商品总账列表（含多库位库存与图片）",
        "description": "APP 商品页用。支持 q/type/scope/location_id/category/has_image/sort/page/page_size。默认排序 custom → bundle → standard 再按 updated_at 倒序；也支持 sort=created_desc/created_asc/price_desc/price_asc/stock_desc。响应包含 counts（各 type 角标，受 q/category 影响但不受 type 影响）和 items[].editable（standard 恒为 false）。",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "standard",
                "custom",
                "bundle",
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "default": "all",
              "description": "按商品生命周期状态过滤",
              "type": "string",
              "enum": [
                "selling",
                "sold_out",
                "in_warehouse",
                "all"
              ]
            },
            "description": "按商品生命周期状态过滤"
          },
          {
            "in": "query",
            "name": "scope",
            "schema": {
              "default": "authorized",
              "type": "string",
              "enum": [
                "authorized",
                "current_location"
              ]
            }
          },
          {
            "in": "query",
            "name": "location_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "description": "分类精确匹配",
              "type": "string"
            },
            "description": "分类精确匹配"
          },
          {
            "in": "query",
            "name": "has_image",
            "schema": {
              "description": "仅 custom 生效",
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "仅 custom 生效"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "updated_desc",
              "type": "string",
              "enum": [
                "created_desc",
                "created_asc",
                "price_desc",
                "price_asc",
                "stock_desc",
                "updated_desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductItem"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "page": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "page_size": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "counts": {
                          "type": "object",
                          "properties": {
                            "custom": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "bundle": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "standard": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "all": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "custom",
                            "bundle",
                            "standard",
                            "all"
                          ],
                          "additionalProperties": false,
                          "description": "各 type 的角标计数（受 q/category 过滤影响，不受 type 影响）"
                        }
                      },
                      "required": [
                        "items",
                        "total",
                        "page",
                        "page_size",
                        "counts"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/global-stock": {
      "get": {
        "tags": [
          "商品"
        ],
        "summary": "全局库存矩阵（总仓账号专用）",
        "description": "仅 super_admin / hq_operator 可用；其他角色返回 403。按 type Tab 返回：locations 全量、items[].stocks 是 {location_id: qty} 字典、summary 汇总（sku_count/total_qty/out_of_stock/low_stock）。支持 q/category/stock_state(all|out|low)/low_threshold/page/page_size。",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "custom",
                "bundle"
              ],
              "description": "必传，按 Tab 过滤"
            },
            "required": true,
            "description": "必传，按 Tab 过滤"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "default": "all",
              "description": "按商品生命周期状态过滤",
              "type": "string",
              "enum": [
                "selling",
                "sold_out",
                "in_warehouse",
                "all"
              ]
            },
            "description": "按商品生命周期状态过滤"
          },
          {
            "in": "query",
            "name": "stock_state",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "out",
                "low"
              ]
            }
          },
          {
            "in": "query",
            "name": "low_threshold",
            "schema": {
              "default": 5,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "locations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GlobalStockLocation"
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GlobalStockItem"
                          }
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "sku_count": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "total_qty": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "out_of_stock": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "low_stock": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "sku_count",
                            "total_qty",
                            "out_of_stock",
                            "low_stock"
                          ],
                          "additionalProperties": false
                        },
                        "page": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "page_size": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "locations",
                        "items",
                        "summary",
                        "page",
                        "page_size",
                        "total"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/products/lookup": {
      "get": {
        "tags": [
          "商品"
        ],
        "summary": "扫码或关键词查商品详情",
        "description": "优先用 code 匹配 barcode / sku_code / EPC / QR JSON；兼容 q 关键词，返回第一条命中商品。返回结构与 /products.items[] 同构。",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "schema": {
              "description": "barcode / sku_code / EPC / QR JSON",
              "type": "string"
            },
            "description": "barcode / sku_code / EPC / QR JSON"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "description": "兼容 APP 测试；无 code 时按关键字返回第一条",
              "type": "string"
            },
            "description": "兼容 APP 测试；无 code 时按关键字返回第一条"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ProductItem"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/inbound/scan": {
      "post": {
        "tags": [
          "入库"
        ],
        "summary": "扫码入库（仓库设备专用）",
        "description": "对每个 EPC：已知 SKU 且未在当前仓库 → +1 movement；已在当前仓库 → duplicated；未知 → 进入「待认领 EPC」队列。一次最多 500 个 EPC。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundScanReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accepted_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "duplicated_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "unclaimed_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "accepted": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "epc": {
                                "type": "string",
                                "minLength": 1,
                                "description": "RFID EPC 编码",
                                "example": "E2000017220C00000000A1B2"
                              },
                              "sku_id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                "example": "550e8400-e29b-41d4-a716-446655440000"
                              }
                            },
                            "required": [
                              "epc",
                              "sku_id"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "epc": {
                                "type": "string",
                                "minLength": 1,
                                "description": "RFID EPC 编码",
                                "example": "E2000017220C00000000A1B2"
                              },
                              "reason": {
                                "type": "string",
                                "example": "already_in_stock"
                              }
                            },
                            "required": [
                              "epc",
                              "reason"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "unclaimed": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "description": "RFID EPC 编码",
                            "example": "E2000017220C00000000A1B2"
                          },
                          "description": "未在系统中的 EPC，自动进入「待认领 EPC」队列"
                        }
                      },
                      "required": [
                        "accepted_count",
                        "duplicated_count",
                        "unclaimed_count",
                        "accepted",
                        "duplicated",
                        "unclaimed"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/stocktake/open": {
      "post": {
        "tags": [
          "盘点"
        ],
        "summary": "打开盘点单",
        "description": "同一库位同时只能有一个 scanning 盘点单。已存在会直接返回 reused: true。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StocktakeOpenReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/StocktakeSummary"
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/stocktake/scan": {
      "post": {
        "tags": [
          "盘点"
        ],
        "summary": "上传盘点扫描",
        "description": "可多次调用，按 (stocktake_id, epc) 去重。未识别的 EPC 在返回里单独列出。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StocktakeScanReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "unknown_count": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "unknown": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "description": "RFID EPC 编码",
                            "example": "E2000017220C00000000A1B2"
                          }
                        },
                        "participants": {
                          "default": [],
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StocktakeParticipant"
                          }
                        }
                      },
                      "required": [
                        "received",
                        "unknown_count",
                        "unknown",
                        "participants"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/stocktake/submit": {
      "post": {
        "tags": [
          "盘点"
        ],
        "summary": "提交盘点单",
        "description": "聚合所有扫描，生成差异行，状态变 submitted。等待总部审核后才会修正库存。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StocktakeSubmitReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "stocktake_id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "lines": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "生成的差异行数"
                        },
                        "diff_total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "counted - system 的总和"
                        }
                      },
                      "required": [
                        "stocktake_id",
                        "lines",
                        "diff_total"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "入参不合法（code: invalid_body / validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少 / 无效 token（code: unauthorized）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "设备被停用 / 库位/角色不匹配（code: unauthorized_location）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "资源不存在（code: not_found / unlinked）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "状态冲突（code: already_exists / transfer_required）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "校验失败（数量不一致等，code: validation_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "限流（code: rate_limited / ai_credits_exhausted）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端错误（code: internal_error）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/handheld/transfer/ship-scan": {
      "post": {
        "tags": [
          "调拨"
        ],
        "summary": "发出方扫描",
        "description": "设备 location 必须 = transfer.from_location。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferScanReq"
              }
            }
          }
[...]
