[Unit]
Description=Run BOOMER channel sync worker every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=5s
Unit=boomer-channel-sync-worker.service

[Install]
WantedBy=timers.target
